include ../../../template/mixins/table.pug

div
  +table_crud(
    'Organizaciones',
    'orgs',
    [
      {name: 'ID',     model: 'id_org', isNumber: true, width: 50},
      {name: 'Nombre', model: 'name'},
      {name: 'Descripcion', model: 'description'},
      {name: 'Tipo', model: 'type_name'},
      {name: 'Estado', model: 'state_name'},
    ],
    '[query.filter, "id_org", "name", "description", "type_name", "state_name"]'
  )