include ../../../template/mixins/table.pug

div

  +table_crud(
    'Usuarios',
    'users',
    [
      {name: 'ID',     model: 'id_user', isNumber: true, width: 50},
      {name: 'Nombre', model: 'first_name'},
      {name: 'Apellido', model: 'last_name'},
      {name: 'Correo', model: 'email'},
      {name: 'Rol', model: 'role_name'},
      {name: 'Organizacion', model: 'org_name'},
      {name: 'Estado', model: 'state_name'},
    ],
    '[query.filter, "id_user", "first_name", "last_name", "email", "role_name", "org_name", "state_name"]'
  )