doctype html
html
  head
    block title
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title= htmlWebpackPlugin.options.title
      meta(name='description', content='')
      base(href='/')
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
      meta(name='viewport', content='width=device-width, initial-scale=1')
  body(ng-app='app', ng-strict-di, ng-cloak, layout="column")
    block content
      md-content(style='height: 100%')
        include ./navbar.pug
        div(ui-view, style='height: calc(100% - 48px)')