extends ../layout.pug

block body
  .md-inline-form
    +form('form','submitFrom(form)', 'Guardar')
      .row
        .col-xs-12
          +formGroup('name', 'org', 'form', 'text', 'Nombre')
          +formGroup('description', 'org', 'form', 'text', 'Descripcion')
          +formGroupSelect('id_type', 'org', 'form', {model: 'types', view: 'name', value: 'id_type'} ,'Tipo')
          +formGroupSelect('id_state', 'org', 'form', {model: 'states', view: 'name', value: 'id_state'} ,'Estado')