include ../../template/mixins.pug


div(role="dialog" layout="column" layout-align="center center", ng-cloak)
  .alb-modal(ng-class='{load : load}')
    .loader
      alb-spinner(size='40')
    .alb-modal-content
      md-toolbar
        .md-toolbar-tools
          block header
            h2(ng-bind='modal.title')
            span(flex='')
            md-button.md-icon-button(ng-click='close()', aria-label='close')
              md-icon(class="material-icons") close
      .alb-modal-body
        block body
          | {{modal.title}}
    //-block footer
      .panel-footer