.alb-modal
  overflow hidden
  position relative 
  border-radius 3px
  height 80px
  min-width 200px
  transition height 0.5s, width 0.5s
  background-color #fff
  -webkit-box-shadow 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1)
  box-shadow 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1)
  .alb-modal-content
    display none
    .alb-modal-body
      padding 15px 15px
  .loader
    width 200px
    position absolute
    height 100%
    background white
    left 0
    top 0
    .spinner
      display block
      margin 20px auto
  &.load
    width 100%
    height auto
    .alb-modal-content
      display block
    .loader
      display none




.alb-modal-lg
  width 600px
.alb-modal-sm
  width 250px
.alb-modal-md
  width 400px



