@import '~bootstrap/dist/css/bootstrap.css'

.model-teeth
  .content-model
    width 400px
    height 400px
    position relative
    .content-areas
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      .area
        position absolute
        border 0
        background transparent
        outline 0
        &:hover
          background rgba(0, 0, 100, 0.3)
    img
      top 0
      left 0
      position absolute