extends ../layout.pug

block body
  .md-inline-form
    +form('form','submitFrom(form)', 'Guardar')
      .row
        .col-xs-12
          div(layout-gt-sm="row")
            +formGroup('first_name', 'user', 'form', 'text', 'Nombre')
            +formGroup('last_name', 'user', 'form', 'text', 'Apellido')
          +formGroup('email', 'user', 'form', 'email', 'Correo')(class='md-block')
          if !edit
            +formGroup('password', 'user', 'form', 'password', 'Contraseña')(class='md-block')
            md-input-container.md-block
              label Confirmacion
              input(
                required, 
                name="confirmPassword", 
                type='password',
                alb-compare-to='user.password',
                ng-model="user.confirmPassword")
              div(ng-messages="form.confirmPassword.$error")
                div(ng-message='compareTo') No coinciden las contraseñas
          div(layout-gt-sm="row")
            +formGroupSelect('id_role', 'user', 'form', {model: 'roles', view: 'name', value: 'id_role'} ,'Rol')
            +formGroupSelect('id_org', 'user', 'form', {model: 'orgs', view: 'name', value: 'id_org'} ,'Organizacion')
            +formGroupSelect('id_state', 'user', 'form', {model: 'states', view: 'name', value: 'id_state'} ,'Estado')