include ../../../template/mixins/table.pug

div
  +table_crud(
    'Roles',
    'roles',
    [
      {name: 'ID',     model: 'id_role', isNumber: true, width: 50},
      {name: 'Nombre', model: 'name'},
      {name: 'Descripcion', model: 'description'}
    ],
    '[query.filter, "id_role", "name", "description"]'
  )