include ../../../template/mixins/table.pug

div
  +table_crud(
    'Tipos',
    'types',
    [
      {name: 'ID',     model: 'id_type_db', isNumber: true, width: 50},
      {name: 'Nombre', model: 'name'},
      {name: 'Descripcion', model: 'description'},
      {name: 'Tabla', model: 'table_name'},
    ],
    '{name: query.filter, description: query.filter}'
  )