md-toast
  
  span.md-toast-text
    md-icon.glyphicon(md-font-icon="{{icon}}", ng-style='{"font-size": "18px", "color": "white"}')
    | {{msg}}
  md-button.md-icon-button.pull-right(ng-click='close()', aria-label='close')
    md-icon.glyphicon(md-font-icon="glyphicon-remove", ng-style='{"font-size": "15px"}')